
body{
    margin: 10px;
}
*
::before,::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.navbars{
    border-right: 1px solid var(--under-color);
    width: 270px;
    height: 100%;
    position: fixed;
}
.containers{
    margin-left: 300px;
    position: fixed;
}
.conten{
    justify-content: center;
    margin-top: 100%;

}
.navbars .logo {
    margin-right: 80px;
    position: relative;
}
.navbars .logo a{
    color: black;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 10px 15px;
    position: relative;
}
.navbars .logo a span{
    font-family: 'Times New Roman', cursive;
}
.navbars .logo a::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 15px;
    border-bottom: 3px solid var(--cache-color);
    border-left: 5px solid var(--cache-color);
    bottom: 0;
    left: 0;
}
.navbars .logo a::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 15px;
    border-top: 3px solid var(--cache-color);
    border-right: 5px solid var(--cache-color);
    top: 0;
    right: 0;
}
.navbars li{
    margin-bottom: 50px;
    display: block;
}
.navbars li a{
    font-weight: 500;
    letter-spacing: 4px;
    display: block;
    border-bottom: 1px solid var(--under-color);
    color: black;
    padding: 5px 15px;
}
.navbars li a.active{
    color: var(--cache-color);
}